html, body{
    width: 100%;
    height: 100%;
    background-color: #08e5e5;
}


.base_options{
    display: none;
}
#base_display{
    background-color: white;
}

#base_container{
    width: 80%;
    height: 300px;
    justify-content: center;
    margin: auto;
}

.row{
    height: 100%;
}

.base_price{
    position: absolute;
    margin: -22px 280px;
    display: inline;
}


.base_form{
    display: block;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    border: 2px solid black;
    background-color: #ffe6cc;
}

.base_form label{
    padding-left: 10px;
}


.topping_price{
    position: absolute;
    margin: -22px 200px;
    display: none;
}

.btn{
    width: 100%;
    font-size: 25px;
    border: 2px solid black;
    margin: 0px;
   
}

.base_btn{
    border-radius: 0;
    background-color: #E50808;
    color: white;
}

.base_btn:focus,
.base_btn:hover{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 3px double black;
    box-shadow: inset 1px 3px 2px 1px black;
}

.btn-group-vertical{
    height: 100%;
}

.topping_header, .base_header{
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 15px;
}

.toppings_form{
    padding: 0px 20px;
}

.toppings_form p{
    text-align: center;
    margin: 3px 0px 20px 0px;
}

.wave
{
    position: relative;
    background: #E50808;
}
.wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #ffe6cc 13px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #ffe6cc 12px, transparent 13px);
  }
 .toppings_container{
    background-color: #ffe6cc;
 }

 #pizza_box{
     background-color: #ccfeff;
 }

 nav{
     background-color: #E50808;
     color: white;
     padding: 10px;
     width: 100%;
     margin: 0;
     position: relative;
 }

 nav p{
     display: inline;
     margin: 15em;
 }
#top-list, #top-list li{
    display: inline;
    position: relative;
    left: 13%;
    top: 50%;
    text-align: center;
    font-size: 18px;
}
#address {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
  #brand{
      font-size: 18px;
  }
#pizza_picture{
    width: 100%;
    height: 80%;
}
#place_order{
    background-color: #E50808;
    color: white;
    margin: 0px;
    padding: 9px;
    position: relative;
}
#place_order:hover{
    box-shadow: inset 1px 3px 2px 1px black;
    font-weight: bold;
}
#checkout_box{
    background-color:#ffe6cc;
    padding: 0px;
}
#coupon_form{
    text-align: center;
}
#top_cont .row{
    margin: 10px 0px 40px 0px;
    
}
#coupon_form{
    margin-bottom: 0px;
    padding-bottom: 0px;
}