html, body{
    width: 100%;
    height: 100%;
    background-color: #08e5e5;
}


#base_display{
    background-image: url("../img/baseback.jpg")
}

#base_container{
    width: 80%;
    height: 300px;

}

.row{
    height: 100%;
}

.base_price{
    position: absolute;
    margin: -35px 280px;
    display: inline;
}


.base_form{
    display: none;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    border: 2px solid black;
    background-color: #ffe6cc;
    font-size: 1.5em;
}

.base_form label{
    position: relative;
    right: -400px;
}


.btn{
    width: 100%;
    font-size: 25px;
    border: 2px solid black;
    margin: 0px;
   
}

.base_btn{
    border-radius: 0;
    background-color: #E50808;
    color: white;
}

.base_btn:focus,
.base_btn:hover{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 3px double black;
    box-shadow: inset 1px 3px 2px 1px black;
}

.btn-group-vertical{
    height: 100%;
}

.topping_header, .base_header{
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 15px;
}

.toppings_form{
    padding: 0px 20px;
}

.toppings_form p{
    text-align: center;
    margin: 3px 0px 20px 0px;
}

.wave
{
    position: relative;
    background: #E50808;
}
.wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #ffe6cc 13px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #ffe6cc 12px, transparent 13px);
  }
 .toppings_container{
    background-color: #ffe6cc;
 }

 nav{
     background-color: #E50808;
     color: white;
     padding: 10px;
     width: 100%;
     margin: 0;
     position: relative;
 }

 nav p{
     display: inline;
   
 }
#top-list, #top-list li{
    display: inline;
    position: relative;
    left: 15%;
    top: 50%;
    text-align: center;
    font-size: 18px;
}
#address {
    position: absolute;
    top: 23%;
    right: 16px;
    font-size: 18px;
  }
#brand{
      font-size: 18px;
  }

.pizza_container{
    height: 70%;
}
#pizza_picture{
    width: 100%;
    height: 100%;
}


#place_order{
    background-color: #E50808;
    color: white;
    padding: 35px;
    position: relative;
}
#place_order:hover{
    box-shadow: inset 1px 3px 2px 1px black;
    font-weight: bold;
}
#checkout_box{
    background-color:#ffe6cc;
    padding: 0px;
}
#coupon_form{
    text-align: center;
}
#top_cont .row{
    margin: 10px 0px 40px 0px;
    
}
#coupon_form{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h1{
    text-align: center;
    margin: 10px;
    padding: 3px;
}

table, tr{
    table-layout: fixed;
    width: 100%;
}
td{
    width: 50%;
}

.receipt_total{
    border-top: 4px groove black;
    font-weight: bold;
}

.receipt_price{
    text-align: right;
}

.modal-content{
    display: flex;
    margin: 10px;
    padding: 6px;
    min-height: 300px;

}

#confirm_button{
    position: absolute;
    right: 16px;
    bottom: 6px;
    background-color: #E50808;
    color: white;
}

.side_image{
    position: absolute;
    margin-left: 25px;
    border-radius: 25%;
    width: 250px;
    height: auto;
   
}

#cheese_form{
    height: 260px;
}

#cheese_image{
    top: 90px;
}

#crust_image{
    top: 80px;
}

#sauce_image{
    top: 70px;
}

h1{
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

h4{
    font-family: 'Oleo Script', Arial, Helvetica, sans-serif;
}

table{
    margin-bottom: 10px;
}

#coupon_form{
    padding: 10px;
}

/* MEDIA QUERIES */

@media  (max-width: 1125px){
    .base_form label{
        right: -300px;
    }

    .base_price{
        margin: -35px 250px;
    }
   
   #top-list, #top-list li{
       left: 10%;
    }
   #address {
       right: 31px;
    }
}


@media (max-width: 1024px){

    .side_image{
        display: none;
    }
    .base_form label{
        left: 25px;
    }

    .base_price{
        margin: -35px 250px;
    }
   
   #top-list, #top-list li{
       left: 1%;
    }
   #address {
       right: 28px;
    }
}
@media (max-width: 770px){
    #place_order{
        padding: 40px;
    }
}
@media (max-width: 693px){
    .no_phone, .btn-group-vertical, .base_btn{
        display: none;
    }
    #base_display{
        flex-direction: column;
    }
    .base_form{
        display: block;
        position: relative;
        margin: 10px auto 30px auto;
        font-size: 14px;
    }
    
    .base_price{
        margin: -20px 150px;
    }
   
    .base_options{
        margin-bottom: 10px;
    }

    .top_cont, .toppings_container{
        margin-top: 550px;
        position: relative;
    }

    #cheese_form{
        height: auto;
    }

    #top-list, #top-list li{
        display: none;
     }
    #address {
        right: 15px;
        top: 27%;
        font-size: 15px;
     }
    #brand{
        top: 20%;
        font-size: 15px;
     }

     nav span, li{
         font-size: 10px;
     }
}

@media (max-width: 500px){
    .toppings_container{
        margin-bottom: 10px;
    }
}

@media (max-width: 450px){
    #checkout_box{
        display: block;
        margin-top: 0px;
    }
}

@media  (max-width: 380px){
    .base_form label{
        left: 0px;
    }
    .base_price{
        margin: -20px 100px;
    }
    .crust_price{
        position: relative;
        display: block;
        top: 15px;
        text-align: left;
        left: -90px;
        margin-bottom: 5px;
    }
    #address{
        font-size: 10px;
    }
}

